/* style.css */
#container {
    height: 200px;
    display: flex;
    align-items: flex-end;
    border: 1px solid #ccc;
    margin-top: 20px;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.bar {
    width: 10px;
    background-color: black;
    margin: 1px;
}

#algorithm-info {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
}

.comparing {
    background-color: blue !important;
}

.swapping {
    background-color: red !important;
}

.placing {
    background-color: yellow !important;
}
.pivoting {
    background-color: yellow !important;
}
.sorted {
    background-color: green !important;
}
